{% extends "base.html" %}

{% block title %}About | ImageDataExtractor{% endblock %}

{% block content %}
  <div class="container">
    <h1>About ImageDataExtractor</h1>
  </div>
  <section class="section section-default">
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <p class="feature-display">ImageDataExtractor is a tool for automatically extracting quantitative data from microscopy images.</p>

          <p class="feature-display">Give it an image, and it will identify regions of interest and calculate
            particle size metrics and the Radial Distribution Function (RDF).</p>

        </div>
        <div class="col-sm-4 text-center">
{#          <img class="img-about" src="{{ url_for('static', filename='img/document2.svg') }}">#}
{#          <a href="{{ url_for('demo') }}" class="btn btn-lg btn-primary">Try it now {{utils.icon('chevron-right')}}</a>#}
{#          <img class="img-about" src="{{ url_for('static', filename='img/chem.svg') }}">#}
        </div>
      </div>
    </div>
  </section>
  <section class="section section-alternate">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 text-center">
          <img class="img-about" src="{{ url_for('static', filename='img/cde-logo.svg') }}">
{#          <img class="img-about" src="{{ url_for('static', filename='img/chem.svg') }}">#}
        </div>
        <div class="col-sm-8">
          <h3>Figure mining</h3>
          <p class="feature-display">
            ImageDataExtractor harnesses the power of
            <a href="http://chemdataextractor.org">
            ChemDataExtractor
            </a>
            to automatically detect relevant images from a
            given document.
          </p>
          <p class="feature-display">
            Machine-learning methods such as conditional random fields are used in combination with custom dictionaries
            and rule-based parsing grammars to reduce figure captions to a machine-readable form.
          </p>
          <p class="feature-display">
            The result is then parsed using terms given by the user and all matches downloaded.
          </p>


        </div>

      </div>
    </div>
  </section>
  <section class="section section-default">
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <h3>Particle identification</h3>
          <p class="feature-display">
            Individual particles are isloated using our custom contour detection algorithm and converted to real values
            by scale-bar intepretation
          </p>
          <p class="feature-display">
            Compound images are first split into their constituent images, and Optical Character Recognition performed
            on each scalebar to obtain scale information
          </p>
          <p class="feature-display">
            Particles are found using a threshold to find boundaries and fitting ellipses to the resultant outline.
          </p>

        </div>
        <div class="col-sm-4 text-center">
{#          <img class="img-about" src="{{ url_for('static', filename='img/document2.svg') }}">#}
{#          <a href="{{ url_for('demo') }}" class="btn btn-lg btn-primary">Try it now {{utils.icon('chevron-right')}}</a>#}
          <img class="img-about" src="{{ url_for('static', filename='img/img_logo.svg') }}">
        </div>
      </div>
    </div>
  </section>
  <section class="section section-alternate">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 text-center">
          <img class="img-about" src="{{ url_for('static', filename='img/graph2.svg') }}">
        </div>
        <div class="col-sm-8">
          <h3>Metric calculation</h3>
          <p class="feature-display">
            Average particle size and RDF are calculated.
          </p>

      </div>
    </div>
  </section>
  <section class="section section-default">
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <h3>Open source</h3>
          <p class="feature-display">
            ImageDataExtractor is available as an open source python package that you can download and use for free.
          </p>
          <p class="feature-display">
            Check out the <a href="/docs">documentation</a> for help getting started.
          </p>
        </div>
        <div class="col-sm-4 text-center">
          <img class="img-about" src="{{ url_for('static', filename='img/terminal.svg') }}">
{#          <a href="{{ url_for('demo') }}" class="btn btn-lg btn-primary">Try it now {{utils.icon('chevron-right')}}</a>#}
{#          <img class="img-about" src="{{ url_for('static', filename='img/chem.svg') }}">#}
        </div>
      </div>
    </div>
  </section>
  <section class="section section-alternate">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <h2>Try our online demo to see it in action</h2>
          <a href="{{ url_for('demo') }}" class="btn btn-lg btn-primary">Try it now {{utils.icon('chevron-right')}}</a>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
