{% extends "base.html" %}

{% block title %}About | ChemSchematicResolver{% endblock %}

{% block content %}
  <div class="container page-container">
    <h1>About</h1>
    {{ utils.flashed_messages(messages) }}
    <div>
      <div class="row">
        <div class="col-sm-8">
          <p class="feature-display">ChemSchematicResolver is an open-source python package for automatically extracting chemical structures from schematic diagrams.</p>

          <p class="feature-display">Check out the <a href="/docs">documentation</a> to get started, or look below to see how it works.</p>

        </div>
      </div>


      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#tab-img-mining" role="tab" data-toggle="tab">Image Mining</a></li>
        <li role="presentation"><a href="#tab-feature-detection" role="tab" data-toggle="tab">Feature Detection</a></li>
        <li role="presentation"><a href="#tab-resolve-structures" role="tab" data-toggle="tab">Resolve Structures</a></li>
      </ul>
      <div class="tab-content">

        <div role="tabpanel" class="tab-pane active"  id="tab-img-mining">
            <h2>Image Mining</h2>
          <p class="feature-display">Figure captions within scientific documents are mined with <a href="https://github.com/edbeard/chemdataextractor-csr">ChemDataExtractor</a> to identify Figures that might contain chemical schematic diagrams.</p>
              <section class="section section-default">
                <div class="container">
                  <div class="row">
                    <div class="col-sm-4 text-center">
                      <img class="img-about-logo" src="{{ url_for('static', filename='img/cde-logo.svg') }}">
            {#          <img class="img-about" src="{{ url_for('static', filename='img/chem.svg') }}">#}
                    </div>
                    <div class="col-sm-8 align-middle">
                      <h3>Figure Scraping</h3>
                      <p class="feature-display">
                        ChemSchematicResolver uses
                        <a href="https://github.com/edbeard/chemdataextractor-csr">
                        ChemDataExtractor
                        </a>
                        to automatically detect relevant images from within Figures of a given HTML or XML document. The images for these Figures are downloaded locally for extraction.
                      </p>
                    </div>

                  </div>
                </div>
              </section>

        </div>
        <div role="tabpanel" class="tab-pane{% if registered %} active{% endif %}" id="tab-feature-detection">
          <h2>Feature Detection</h2>
          <p class="feature-display">
            Chemical schematic diagrams and text labels are identified, classified and assigned to each other.
          </p>
          <section class="section section-default">
                <div class="container">
                  <div class="row">
                    <div class="col-sm-6">
                      <img class="img-about" src="{{ url_for('static', filename='img/segmentation.png') }}">
            {#          <img class="img-about" src="{{ url_for('static', filename='img/chem.svg') }}">#}
                    </div>
                    <div class="col-sm-6">
                      <h3>Segmentation</h3>
                      <div id="about-text-container">
                        <div class="about-text">
                          <p class="feature-display">
                            First, the image is sub-divided into regions of interest.
                          </p>
                          <p class="feature-display">
                            Small gaps in the image are blurred over to ensure that each region contains all features in the near vicinity.
                          </p>
                          <p class="feature-display">
                            The connected paths of these blurred pixels are then used to locate the regions of interest.
                          </p>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </section>
              <section class="section section-alternate">
                <div class="container">
                  <div class="row">
                    <div class="col-sm-6" >
                      <h3>Classification</h3>
                      <div id="about-text-container">
                        <div class="about-text">
                      <p class="feature-display">
                        The regions of interest are classified as labels or diagrams using a <i>k</i>-means clustering algorithm.
                      </p>
                        </div>
                      </div>
                    </div>

                      <div class="col-sm-6 text-center">
                        <img class="img-about" src="{{ url_for('static', filename='img/classification.png') }}">
                      </div>

                  </div>
                </div>
              </section>
            <section class="section section-default">
                <div class="container">
                  <div class="row">
                    <div class="col-sm-6 text-center">
                        <img class="img-about" src="{{ url_for('static', filename='img/assignment.png') }}">

            {#          <img class="img-about" src="{{ url_for('static', filename='img/chem.svg') }}">#}
                    </div>
                    <div class="col-sm-6">
                      <h3>Match Chemicals and Labels</h3>
                        <div id="about-text-container">
                          <div class="about-text">
                      <p class="feature-display">
                        Diagrams and labels are paired up via a proximity-driven algorithm.
                      </p>
                      <p class="feature-display">
                        The pairs are shown in the same colour.
                      </p>
                          </div>
                        </div>
                      </div>

                  </div>
                </div>
        </div>


        <div role="tabpanel" class="tab-pane" id="tab-resolve-structures">
           <h2>Resolve Structures</h2>
          <p class="feature-display">Next, diagrams and labels are resolved into a machine-readable format.</p>
              <section class="section section-default">
                <div class="container">
                  <div class="row">
                    <div class="col-sm-6 text-center">
                      <img class="img-about" src="{{ url_for('static', filename='img/C8SM02430H_fig2_ocr.svg') }}">
            {#          <img class="img-about" src="{{ url_for('static', filename='img/chem.svg') }}">#}
                    </div>
                    <div class="col-sm-6">
                      <h3>Reading Labels</h3>
                        <div id="about-text-container">
                          <div class="about-text">
                            <p class="feature-display">Optical Character Recognition <b>(OCR)</b> is applied to each label to convert it into a text string, which is then tokenized.</p>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
              </section>
              <section class="section section-alternate">
                <div class="container">
                  <div class="row">
                    <div class="col-sm-6">
                      <h3>Identify R-Group</h3>
                        <div id="about-text-container">
                          <div class="about-text">
                            <p class="feature-display">
                              <b>R-group</b> structures use variables (such as R) in place of certain atoms in the chemical diagram. The values that R can take are described in the label.
                            </p>
                            <p class="feature-display">
                              Resolved labels are scanned for features that indicate R-group structures, and the relevant values are extracted by ChemSchematicResolver.
                            </p>
                          </div>
                        </div>
                    </div>

                      <div class="col-sm-6 text-center">
                        <img class="img-about" src="{{ url_for('static', filename='img/r-group.svg') }}">
                      </div>

                  </div>
                </div>
              </section>
              <section class="section section-default">
                <div class="container">
                  <div class="row">
                    <div class="col-sm-6 text-center">
                      <img class="img-about-logo" src="{{ url_for('static', filename='img/structure-to-text.png') }}">
            {#          <img class="img-about" src="{{ url_for('static', filename='img/chem.svg') }}">#}
                    </div>
                    <div class="col-sm-6">
                      <h3>Resolving Chemical Structures</h3>
                        <div id="about-text-container">
                          <div class="about-text">
                            <p class="feature-display">
                              Chemical diagrams are resolved using <a href="https://github.com/edbeard/pyosra">pyosra</a>, a Python tool that extends the capabilities of <a href="https://sourceforge.net/p/osra/wiki/Home/"> OSRA</a> to allows for R-groups structures.
                            </p>
                            <p class="feature-display">
                              The software returns a simplified molecular line-entry system <b>(SMILES)</b> string which describes the chemical structure
                            </p>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
              </section>

        </div>
      </div>
    </div>



  </div>
  </div>
{% endblock %}
