{% extends "base.html" %}

{% block title %}Citing | ChemSchematicResolver{% endblock %}

{% block content %}
  <div class="container page-container">
    <h1>Citing ChemSchematicResolver</h1>
    <p>
       If you use ChemSchematicResolver as a resource in your research, please cite the following work:
    </p>
    <div class="well">
       <p>E. J. Beard, J. M. Cole, ChemSchematicResolver: A Toolkit to Decode 2-D Chemical Diagrams with Labels and R-groups into Annotated Chemical Named Entities, <i>J. Chem. Inf. Model.</i> (<b>2020</b>)
       <a href="http://dx.doi.org/10.1021/acs.jcim.0c00042">http://dx.doi.org/10.1021/acs.jcim.0c00042</a></p>
    </div>
    <p>
      This project was financially supported by the Science and Technology Facilities Council (STFC) and the Royal Academy of Engineering (RCSRF1819\7\10).
    </p>
  </div>
{% endblock %}

