{% extends "base.html" %}

{% block title %}Online Demo | ChemSchematicResolver{% endblock %}

{% block content %}
  <div class="container page-container">
    <h1>Online Demo</h1>


    <p>Upload a <b>single image</b> to try ChemSchematicResolver online. Alternatively, check out one of our example files.</p>
<!--    <div class="demo-info">-->
      <p>
        Please note that this demo cannot handle HTML / XML inputs, or directories containing multiple images. <a href="/docs/install">Install</a> ChemSchematicResolver to access the full version of this tool with these capabilities. If extracting from a document, please use HTML or XML from the supported publishers: the <a href="https://www.rsc.org">Royal Society of Chemistry</a>, <a href="https://dev.elsevier.com/index.html">Elsevier</a> and <a href="https://rd.springer.com/">Springer</a>. To extract from articles by other publishers, please download the <a href="https://github.com/edbeard/chemdataextractor-csr">ChemDataExtractor toolkit</a> and write your own document reader.
      </p>
      <p>
        Supported image formats: BMP, DIB, GIF, JPEG, PNG, PPM, SGI, TGA, TIFF. Large images may not be resolved in our demo: please <a href="/docs/install">install</a> ChemSchematicResolver locally for these cases.
      </p>
<!--    </div>-->

    <div>
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#tab-file" role="tab" data-toggle="tab">Upload a file</a></li>
        <li role="presentation"><a href="#tab-examples" role="tab" data-toggle="tab">Example images</a></li>
{#        <li role="presentation"><a href="#tab-url" role="tab" data-toggle="tab">Enter URL</a></li>#}
      </ul>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="tab-file">
          <p>This demo performs best on high resolution images with distinct gaps between objects in the image. Images must only contain <b>only</b> chemical diagrams and text labels. Output structures from this demo may contain the wildcard character <b>*</b>, which is used by pyosra / OSRA to denote chemical labels which could not be resolved.</p>

          <form class="form" method="POST" enctype="multipart/form-data">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-btn">
                  <span class="btn btn-default btn-file">Browse for file&hellip;<input type="file" name="input-file"></span>
                </span>
                <input type="text" class="form-control" readonly>
              </div>
            </div>
            <div class="form-group">
              <button id="submit-file" class="btn btn-lg btn-primary">Submit</button>
            </div>
          </form>

        </div>

        <div role="tabpanel" class="tab-pane" id="tab-examples">
          <div class="row">
            <div class="col-sm-4">
              <div class="doc-meta">
                <h4>Small molecular hole-transporting and emitting materials for hole-only green organic light-emitting devices. <b>Fig. 1</b></h4>
                <div>Xicheng Liu et al., <em>Dyes and Pigments</em> (2016) <a href="https://doi.org/10.1016/j.dyepig.2016.03.052">10.1016/j.dyepig.2016.03.052</a></div>
                <a class="btn btn-primary btn-result" href="/results/796bfa1d-4132-4770-818a-32b8f5f6804a">Show Results {{utils.icon('chevron-right')}}</a>
              </div>
            </div>
            <div class="col-sm-8">
              <img class="doc-icon" src="{{ url_for('static', filename='img/S014372081630119X_gr1.jpg') }}">
            </div>
          </div>
        <hr>
        <div class="row">
            <div class="col-sm-4">
              <div class="doc-meta">
                <h4>Synthesis and physical properties of triphenylamine-functionalized twistacenes: blue-emitting fluorophores. <b>Scheme 1</b></h4>
                <div>Jingdan Duan et al., <em>RSC Adv.</em> (2017) <a href="http://dx.doi.org/10.1039/C6RA28814F ">10.1039/C6RA28814F </a></div>
                <a class="btn btn-primary btn-result" href="/results/7dc0505c-fddf-43f0-bd51-93108b029057">Show Results {{utils.icon('chevron-right')}}</a>

            </div>
            </div>
            <div class="col-sm-8">
            <img class="doc-icon" src="{{ url_for('static', filename='img/C6RA28814F_sch1.gif') }}">
          </div>
        </div>
        <hr>
          <div class="row">
            <div class="col-sm-4">
              <div class="doc-meta">
                <h4>Recent advances in twisted intramolecular charge transfer (TICT) fluorescence and related phenomena in materials chemistry. <b>Fig. 6</b></h4>
                <div>Shunsuke Sasaki et al., <em>J. Mater. Chem. C</em> (2016) <a href="https://doi.org/10.1039/C5TC03933A">10.1039/C5TC03933A</a></div>
                              <a class="btn btn-primary btn-result" href="/results/aea15e11-b32a-4fca-adb3-d09099693487">Show Results {{utils.icon('chevron-right')}}</a>

              </div>
            </div>
            <div class="col-sm-8">
              <img class="doc-icon" src="{{ url_for('static', filename='img/C5TC03933A_fig6.gif') }}">
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-4">
              <div class="doc-meta">
                <h4>CLiDE Pro: The Latest Generation of CLiDE, a Tool for Optical Chemical Structure Recognition. <b> Supporting Information, Image 183</b></h4>
                <div>Aniko T. Valko and A. Peter Johnson <em>J. Chem. Inf. Model.</em> (2009) <a href="https://doi.org/10.1021/ci800449t">10.1021/ci800449t</a></div>
                <a class="btn btn-primary btn-result" href="/results/56d2e5d7-413f-405a-9919-49577ac49574">Show Results {{utils.icon('chevron-right')}}</a>

              </div>
            </div>
            <div class="col-sm-8">
              <img class="doc-icon" src="{{ url_for('static', filename='img/image183.bmp') }}">
            </div>
          </div>

      </div>
        {#
        <div role="tabpanel" class="tab-pane" id="tab-url">
          <div class="alert alert-warning">
            <strong>Warning:</strong>
            This online demo is not able to process URLs for articles with a subscription paywall. Instead, choose "Save As..." while viewing the article and upload the saved file.
          </div>
          <form class="form" method="POST">
            <div class="form-group">
              <input type="text" id="input-url" name="input-url" class="form-control" placeholder="http://">
            </div>
            <div class="form-group">
              <button id="submit-url" class="btn btn-lg btn-primary">Submit</button>
            </div>
          </form>
        </div> #}
      </div>
    </div>
  </div>
{% endblock %}


{% block scripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/demo.js') }}"></script>
{%- endblock scripts %}
