{% extends "base.html" %}

{% block title %}Download | ChemSchematicResolver{% endblock %}

{% block content %}
  <div class="container page-container">
    <h1>Downloads</h1>
    {{ utils.flashed_messages(messages) }}
    <div>
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#tab-download" role="tab" data-toggle="tab">Download ChemSchematicResolver</a></li>
        <li role="presentation"><a href="#tab-evaluation" role="tab" data-toggle="tab">Download Evaluation Files</a></li>
      </ul>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="tab-download">
          <h2>Releases</h2>
          <p>
            ChemSchematicResolver is available as an open source python package. <a href="/docs/install">Installation using
            conda is highly recommended</a>.
          </p>
          <p>
            For the latest unstable development version, clone the <a href="https://github.com/edbeard/ChemSchematicResolver">source code repository on GitHub</a>.
          </p>
          <p>
            Alternatively, you can download the latest release below. For help with installation and getting started,
            check out the <a href="/docs">documentation</a>.
          </p>
          <div class="downloads">
            <div class="row download">
              <div class="col-sm-3 download-meta">
                <div class="text-muted download-date">4th April 2020</div>
              </div>
              <div class="col-sm-9 download-body">
                <span class="label label-success pull-right">Latest release</span>
                <h3>ChemSchematicResolver Beta</h3>
                <p>Source code for the ChemSchematicResolver toolkit.</p>
                <a class="btn btn-primary" href="https://github.com/edbeard/ChemSchematicResolver/archive/master.zip">{{ utils.icon('circle-arrow-down') }} Download</a>
              </div>
            </div>
          </div>

        </div>
        <div role="tabpanel" class="tab-pane" id="tab-evaluation">
          <h2 id="evaluation">Evaluation files</h2>
          <p>ChemSchematicResolver performance was evaluated as part of the following publication:</p>
          <div class="well">
                <p>E. J. Beard, J. M. Cole, ChemSchematicResolver: A Toolkit to Decode 2-D Chemical Diagrams with Labels and R-groups into Annotated Chemical Named Entities, <i>J. Chem. Inf. Model.</i> (<b>2020</b>)
                <a href="http://dx.doi.org/10.1021/acs.jcim.0c00042">http://dx.doi.org/10.1021/acs.jcim.0c00042</a></p>
          </div>
          <p>
            This project was financially supported by the Science and Technology Facilities Council (STFC) and the Royal Academy of Engineering (RCSRF1819\7\10).
          </p>
          <div class="downloads">
            <div class="row download">
              <div class="col-sm-3 download-meta">
                <div class="text-muted download-date">7th November 2019</div>
              </div>
              <div class="col-sm-9 download-body">
                <h3>ChemSchematicResolver Evaluation Images</h3>
                <p>A compressed file containing <b>65 images</b> used in the main evaluation of ChemSchematicResolver. All images were automatically downloaded from <i>open access</i> articles published by <a href="https://www.springer.com">Springer</a> and the <a href="https://www.rsc.org/">Royal Society of Chemistry</a>.</p>
                <a class="btn btn-primary" href="{{ url_for('static', filename='zip/main_eval.zip')}}">{{ utils.icon('circle-arrow-down') }} Download</a>
              </div>
            </div>
            <div class="row download">
              <div class="col-sm-3 download-meta">
                <div class="text-muted download-date">7th November 2019</div>
              </div>
              <div class="col-sm-9 download-body">
                <h3>ChemSchematicResolver R-Group Evaluation Images</h3>
                <p>A compressed file containing <b>29 images</b> used in the main evaluation of R-Group ChemSchematicResolver. R-Group images were manually selected from the evaluation set found in the <a href="https://pubs.acs.org/doi/suppl/10.1021/ci800449t/suppl_file/ci800449t_si_001.zip">supplementary information</a> of the <a href="https://doi.org/10.1021/ci800449t">CLiDE Pro release manuscript</a>.</p>
                <a class="btn btn-primary" href="{{ url_for('static', filename='zip/rgroup_eval.zip')}}">{{ utils.icon('circle-arrow-down') }} Download</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



  </div>
  </div>
{% endblock %}

